

body{
    background-color: rgb(246,237,231)
   
}

.navbar{
    background-color: rgb(163,141,126)
   ;
}
.container-boton{
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 25px;
}
 
p{
    padding: 5%;
}