

body{
    background-color: rgb(246,237,231);
   font-family: "joan" ,serif;
}

.navbar{

    background-color: rgb(163,141,126);
}
.container-boton{
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 25px;
}
 
p{
    padding: 5%;
}
.productosDestacados{
    justify-content: space-between;
}
.card{
    justify-content: space-between;
    margin: 5px ;
    display: flex;
    display: inline-block;
    align-items: center;
    align-content: center;
}
li{
    display: inline-block;

}
.card-text{
    color:rgb(248, 215, 143)
}
h2{
    text-align: center;
}